In [1]:
import os
os.environ["PYARROW_IGNORE_TIMEZONE"] = "1"

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, date

import pyspark.pandas as ps
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [3]:
spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/06 21:42:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
psdf_person_paris=ps.read_csv('/Users/ordi_de_lvga/Documents/nf26_td/projet/BDD_BGES/BDD_BGES_PARIS/PERSONNEL_PARIS.txt', sep=';',index_col='ID_PERSONNEL')
psdf_person_paris.head(5)

                      NOM_PERSONNEL PRENOM_PERSONNEL    DT_NAISS VILLE_NAISS PAYS_NAISS     NUM_SECU IND_PAYS_NUM_TELP  NUM_TELEPHONE  NUM_VOIE    DSC_VOIE CMPL_VOIE CD_POSTAL  VILLE    PAYS       FONCTION_PERSONNEL TS_CREATION_PERSONNEL   TS_MAJ_PPERSONNEL
ID_PERSONNEL
KeyPers_Paris_1230000         Name0        FistName0  1992-03-13       Lille     France  NS000000000              None  +336##0151713        22  NomVoie100      None     #9423  Paris  France  Ingénieur Informaticien   2005-06-24 06:48:21 2005-06-24 06:48:21
KeyPers_Paris_1230001         Name1        FistName1  1955-02-17       Pekin      China  NS000000001              None  +336##0797149        33  NomVoie731      None     #2429  Paris  France           Ingénieur Data   2007-11-16 22:38:43 2007-11-16 22:38:43
KeyPers_Paris_1230002         Name2        FistName2  1982-10-06       Alger    Algeria  NS000000002              None  +336##0319378        55  NomVoie622      None     #7861  Paris  France  Ingénieur Informaticien   2004-07-09 14:25:16 2004-07-09 14:25:16
KeyPers_Paris_1230003         Name3        FistName3  1955-08-22        Lima       Peru  NS000000003              None  +336##0205027        61  NomVoie363      None     #4028  Paris  France           Ingénieur Data   2013-02-16 23:23:05 2013-02-16 23:23:05
KeyPers_Paris_1230004         Name4        FistName4  2017-04-07       Pekin      China  NS000000004              None  +336##0456031        68  NomVoie914      None     #0111  Paris  France                    Cadre   2001-10-13 22:42:51 2001-10-13 22:42:51